body {
    background-color: #CCBBEE;
    /* width: 80%; */
  }
#textNota:hover, input[type='text']:hover{
    box-shadow: 0px 0px 4px 4px rgb(100, 0, 200)
}
form {
    margin: auto;
    margin-top:2vh;
    width: 35vw;
    height: 50vh;
    border: 1px solid black;
    padding-left: 1vw;
    padding-top: 2vh;
}
fieldset{
    width:30vw;
    height:40vh;
}

table {
    font-family: 'Playpen Sans', cursive;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;
    /* min-height: 20vh; */
    background-color: white;
    height: 35px;
    border-bottom: 2px solid black;
    color: rgb(219, 127, 127);
}
th {
    background-color: rgba(5, 5, 100, 95);
    height: 35px;
    border-bottom: 1px solid rgb(210, 220, 250);
    color: rgb(120, 120, 120);
}
td {
    color: rgba(100, 100, 100, 60);
    height: 30px;
    border: 0.5px solid black;
}
th:hover {
    background-color: rgba(20, 20, 20, 90);
}
tr {
    color:black;
}
tr:hover {
    color: white;
    background-color: rgba(15, 25, 25, 90);
}
td:hover {
    color: white;
}
footer {
    margin-top: 10vh;
    text-align: center;
    background-color: black;
    height: 20%;
    color: yellow;
    padding-top: 5vh;

}
#textNota{
    min: 0;
    max:100;
}
.side {
    width: 7vw;
}